/***************************************************************************************************************************************
*
*   NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="vanilla"][data-pixie-type^="Label"][data-pixie-type~="node"] {
    text-align: left;
    cursor: default;
    padding: 0.1em;
    min-width: 8px;
    min-height: 8px;
}

[data-pixie-theme="vanilla"][data-pixie-type^="Label"][data-pixie-align^="center"][data-pixie-type~="node"] {
    text-align: center;
}