[data-pixie-theme="blueprint"][data-pixie-type^="Bar "][data-pixie-type~="node"] {
    min-height: 22px;
    min-width: 22px;
    background-color: #11699c;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    color: #E2E2E2;
    text-transform: uppercase;
    font-family: 'roboto-mono';
    font-size: 12px;
    font-weight: normal;
}