/***************************************************************************************************************************************
*
*   BODY (For resizing)
*
***************************************************************************************************************************************/
[data-host-runtime="nw-js"] body[data-pixie-theme="blueprint"] {
    background-color: #106293;
}
/***************************************************************************************************************************************
*
*   NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-type~="node"] {
    min-width: 20px;
    min-height: 20px;
    border-radius: 3px;
    /*border: 1px solid #403F3F;*/
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: #106293;
}
[data-host-runtime="nw-js"] [data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-type~="node"] {
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.6) !important;
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-type~="node"][data-pixie-state$="inactive out off"] {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-type~="node"][data-pixie-state$="active out off"] {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-type~="node"][data-pixie-fullScreen="true"] {
    box-shadow: none;
    border: none;
}

/***************************************************************************************************************************************
*
*   TITLEBAR NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"] {
    /*border-bottom: 1px solid #000000;*/
    min-height: 16px;
    width: 100%;
    position: relative;
    line-height: 15px;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="inactive out off"] > [data-pixie-type~="titleBarNode"]{
    background-color: rgba(255,255,255,0.025);
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="enabled active out off"] > [data-pixie-type~="titleBarNode"]{
    background-color: rgba(255,255,255,0.05);
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"]:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/*[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="inactive out off"] > [data-pixie-type~="titleBarNode"]:after {
    border: 1px solid #1A1A1A;
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="active out off"] > [data-pixie-type~="titleBarNode"]:after {
    border: 1px solid #212121;
}*/
/***************************************************************************************************************************************
*
*   TITLEBAR TEXT NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"] > [data-pixie-type~="titleBarTextNode"] {
    position: absolute;
    margin: auto;
    width: calc(100% - 20px);
    height: 100%;
    white-space: nowrap;
    text-align: center;
    color: #292929;
    font-family: 'roboto-regular';
    font-size: 0.7em;
    cursor: default;
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"] > [data-pixie-type~="titleBarTextNode"] {
    color: rgba(255, 255, 255, 0.6);
}
/***************************************************************************************************************************************
*
*   TITLEBAR CLOSE NODE
*
***************************************************************************************************************************************/
[data-host-runtime="nw-js"] [data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"] > [data-pixie-type~="titleBarCloseNode"],
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"]:hover > [data-pixie-type~="titleBarCloseNode"] {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 1;
}

[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="enabled inactive out off"] > [data-pixie-type~="titleBarNode"]:hover > [data-pixie-type~="titleBarCloseNode"] {
    border-radius: 8px;
    /*box-shadow: inset 0px 0px 1px rgba(0,0,0,0.05);*/
}
/*[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="enabled active out off"] > [data-pixie-type~="titleBarNode"]:hover > [data-pixie-type~="titleBarCloseNode"] {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    /!*border-bottom: 1px solid #DEDEDE;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);*!/
}*/
[data-host-runtime="nw-js"] [data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"] > [data-pixie-type~="titleBarCloseNode"]:after,
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"]:hover > [data-pixie-type~="titleBarCloseNode"]:after {
    content: "x";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'roboto-regular';
    font-size: 0.7em;
    cursor: default;
    line-height: 0.9em;
    text-align: center;
}
[data-host-runtime="nw-js"] [data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="titleBarNode"] > [data-pixie-type~="titleBarCloseNode"]:after {
    color: rgba(255, 255, 255, 0.8);
}
/*[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="enabled active out off"] > [data-pixie-type~="titleBarNode"]:hover > [data-pixie-type~="titleBarCloseNode"]:after {
    color: #171717;
    text-shadow: 0px -1px 0px rgba(241, 241, 241, 0.8);
}*/
/***************************************************************************************************************************************
*
*   STRIP NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="stripNode"] {
    background-color: #11699c;
    width: 100%;
    position: relative;
}
[data-host-runtime="nw-js"] [data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="stripNode"] {
    left: 1px;
    width: calc(100% - 2px);
}
/***************************************************************************************************************************************
*
*   CONTENT NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="contentNode"] {
    width: 100%;
    height: calc(100% - 17px);
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /*background-color: rgb(8, 89, 140);
    background-image: radial-gradient(rgb(17, 102, 151), rgb(8, 89, 140));*/
}
/*[data-pixie-theme="blueprint"][data-pixie-type^="Panel"] > [data-pixie-type~="contentNode"]:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid rgba(0,0,0,0.2);
}*/
/***************************************************************************************************************************************
*
*   SIZER NODE
*
***************************************************************************************************************************************/
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="enabled inactive out off"] > [data-pixie-type~="sizerNode"] {
    cursor: nw-resize;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0px;
    right: 0px;
}
[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state$="enabled active out off"] > [data-pixie-type~="sizerNode"] {
    cursor: nw-resize;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0px;
    right: 0px;
}
/***************************************************************************************************************************************
*
*   DISABLE NODE
*
***************************************************************************************************************************************/

/*[data-pixie-theme="blueprint"][data-pixie-type^="Panel"][data-pixie-state~="disabled"] > [data-pixie-type~="contentNode"] > :not([data-pixie-type~="disableNode"]) {
    opacity: 0.3;
}*/
